.page_loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #113181;
  
}




.page_loading .lds-roller div::after{
  background: #ffffff;
}