a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, li, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

html, body {
  height: 100% !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ML';
  src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: 'MM';
  src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: 'MB';
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: 'MR';
  src: url("../fonts/Montserrat-Regular.otf");
}

.azn {
  font-family: 'JISAZN-Bold' !important;
  position: relative;
  display: inline-block !important;
}

.azn:before {
  content: 'M';
}

header > ul > li.right .nice-select:after, .miles-calculator .container .calculator-header .slick-next, .miles-calculator .container .calculator-header .slick-prev, .partners .container .partners-modal .modal-self .addresses li:after {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.partners .container .partners-modal .modal-self {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-info-part .container .title:after, .card-info-part .container .title:before, .card-info-part .container .title p:before, .card-info-part .container .title p:after, .miles-calculator .container .title:after, .miles-calculator .container .title:before, .miles-calculator .container .title p:before, .miles-calculator .container .title p:after, .miles-calculator .container .calculator-self .details-part > li .amount-input span, .miles-calculator .container .calculator-self .details-part > li .amount-input span:before, .partners .container .title:after, .partners .container .title:before, .partners .container .title p:before, .partners .container .title p:after, .partners .container .partners-modal .modal-self .addresses li:before, .partners .container .partners-modal .modal-self .addresses li:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

a, a:hover, .card-info-part .container .cards .item .buttons .details, .card-info-part .container .cards .item .buttons .details:hover, .card-info-part .container .cards .item .buttons .order, .card-info-part .container .cards .item .buttons .order:hover, .miles-calculator .container .calculator-header button, .miles-calculator .container .calculator-header button:hover, .miles-calculator .container .calculator-self .details-part > li .nice-select, .miles-calculator .container .calculator-self .details-part > li .nice-select:hover, .miles-calculator .container .calculator-self .details-part > li .amount-input input, .miles-calculator .container .calculator-self .details-part > li .amount-input input:hover, .miles-calculator .container .calculator-self .details-part > li .amount-input input:focus, .partners .container .more .more-button, .partners .container .more .more-button:hover {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.partners .container .partners-modal .modal-self .close, .partners .container .partners-modal .modal-self .close:hover, footer .footer-top .container > div.left a:after, footer .footer-top .container > div.left a:hover:after {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header > ul, header > ul > li.right, header > ul > li.right a, .card-info-part .container .cards, .card-info-part .container .cards .item .buttons, .miles-calculator .container .calculator-header, .partners .container .partners-list, .partners .container .partners-modal .modal-self .taksit ul, footer .footer-top .container, footer .footer-top .container > div.center a, footer .footer-top .container > div.center .links, footer .footer-top .container > div.right .links, footer .footer-top .container > div.right .links a, footer .footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-slider .item .container, .miles-calculator .container .calculator-self .details-part.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  background-color: none;
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #202020;
  font-family: 'MR';
}

.hidden {
  overflow: hidden;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header > ul, .home-slider .item .container, .card-info-part .container, .miles-calculator .container, .partners .container, footer .footer-top .container, footer .footer-bottom .container {
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

header {
  height: 100px;
}

@media (max-width: 1000px) {
  header {
    height: 80px;
  }
}

@media (max-width: 700px) {
  header {
    height: 48px;
  }
}

header > ul {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > ul > li.mob-cabinet {
  display: none;
}

@media (max-width: 700px) {
  header > ul > li.mob-cabinet {
    display: block;
  }
}

header > ul > li.mob-cabinet button {
  width: 40px;
  padding: 10px 0;
  position: relative;
  left: -10px;
}

@media (max-width: 1000px) {
  header > ul > li.left a img {
    height: 48px;
  }
}

@media (max-width: 700px) {
  header > ul > li.left a img {
    height: 30px;
  }
}

header > ul > li.right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > ul > li.right a {
  background-color: #1946B9;
  color: #fff;
  padding: 0 20px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 37px;
  margin-right: 32px;
}

header > ul > li.right a img {
  margin-right: 17px;
}

@media (max-width: 700px) {
  header > ul > li.right a {
    display: none;
  }
}

header > ul > li.right .nice-select {
  border: none;
  padding-right: 20px;
  padding-left: 0;
  width: 52px;
}

@media (max-width: 700px) {
  header > ul > li.right .nice-select {
    width: 40px;
  }
}

header > ul > li.right .nice-select .option {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 700px) {
  header > ul > li.right .nice-select .option {
    padding-left: 9px;
    padding-right: 9px;
  }
}

header > ul > li.right .nice-select .current {
  color: #1946B9;
  font-size: 22px;
  font-family: ML;
}

@media (max-width: 700px) {
  header > ul > li.right .nice-select .current {
    font-size: 16px;
  }
}

header > ul > li.right .nice-select:after {
  border-bottom: none;
  border-right: none;
  content: '';
  display: block;
  height: 7.36px;
  margin-top: 16px;
  pointer-events: none;
  position: absolute;
  right: 1px;
  background: url("../img/arrow.svg");
  top: 0%;
  -webkit-transform-origin: 7px 4px;
  transform-origin: 7px 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 13.18px;
}

header > ul > li.right .nice-select.open:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.none {
  display: none;
}

.home-slider {
  height: 480px;
  width: 100%;
}

@media (max-width: 1100px) {
  .home-slider {
    height: 320px;
  }
}

@media (max-width: 650px) {
  .home-slider {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .home-slider {
    height: 200px;
  }
}

.home-slider .slick-dots {
  bottom: 0;
  padding-bottom: 24px;
}

@media (max-width: 650px) {
  .home-slider .slick-dots {
    padding-bottom: 15px;
  }
}

.home-slider .slick-dots li {
  margin: 0 8px;
  width: auto;
  height: auto;
}

@media (max-width: 650px) {
  .home-slider .slick-dots li {
    margin: 0 5px;
  }
}

.home-slider .slick-dots li button {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  margin: 0;
}

.home-slider .slick-dots li button::before {
  display: none;
}

@media (max-width: 650px) {
  .home-slider .slick-dots li button {
    width: 9px;
    height: 9px;
  }
}

.home-slider .slick-dots li.slick-active {
  pointer-events: none;
}

.home-slider .slick-dots li.slick-active button {
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.home-slider .slick-slide > div {
  text-align: center;
}

.home-slider .item {
  height: 480px;
  background: url("../img/home-slider-bg.jpg");
}

@media (max-width: 1100px) {
  .home-slider .item {
    height: 320px;
  }
}

@media (max-width: 650px) {
  .home-slider .item {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .home-slider .item {
    height: 200px;
  }
}

.home-slider .item .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  height: 480px;
}

@media (max-width: 1200px) {
  .home-slider .item .container {
    width: 100%;
    max-width: 100%;
    padding: 0 40px 0 60px;
  }
}

@media (max-width: 1100px) {
  .home-slider .item .container {
    height: 320px;
  }
}

@media (max-width: 740px) {
  .home-slider .item .container {
    padding: 0 10px 0 20px;
  }
}

@media (max-width: 650px) {
  .home-slider .item .container {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .home-slider .item .container {
    height: 200px;
  }
}

.home-slider .item .texts {
  font-size: 40px;
  line-height: 49px;
  color: #fff;
  font-family: ML;
}

.home-slider .item .texts .bold {
  font-family: MB;
}

@media (max-width: 900px) {
  .home-slider .item .texts {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 740px) {
  .home-slider .item .texts {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 650px) {
  .home-slider .item .texts {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .home-slider .item .texts {
    font-size: 16px;
    line-height: 20px;
  }
}

.home-slider .item .card-img {
  position: relative;
  height: 100%;
}

.home-slider .item .card-img img {
  height: 100%;
}

.home-slider .item .card-img .shadow {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
}

@media (max-width: 850px) {
  .home-slider .item .card-img {
    height: 80%;
  }
}

@media (max-width: 400px) {
  .home-slider .item .card-img {
    height: 70%;
  }
}

@media (max-width: 350px) {
  .home-slider .item .card-img {
    height: 60%;
  }
}

.card-info-part {
  padding-bottom: 80px;
}

@media (max-width: 900px) {
  .card-info-part {
    padding-bottom: 16px;
  }
}

.card-info-part .container .title {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 56px 0;
}

@media (max-width: 992px) {
  .card-info-part .container .title {
    padding: 28px 0;
  }
}

.card-info-part .container .title:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #1946B9;
  border-radius: 50%;
  right: 0;
}

.card-info-part .container .title:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #1946B9;
  border-radius: 50%;
  left: 0;
}

.card-info-part .container .title p {
  font-size: 28px;
  font-family: MR;
  color: #1946B9;
  display: inline-block;
  padding: 0 24px;
  position: relative;
}

@media (max-width: 992px) {
  .card-info-part .container .title p {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .card-info-part .container .title p {
    font-size: 16px;
    padding: 0 8px;
  }
}

.card-info-part .container .title p:before {
  position: absolute;
  content: '';
  width: 200%;
  height: 1px;
  right: 100%;
  background: #1946B9;
}

.card-info-part .container .title p:after {
  position: absolute;
  content: '';
  width: 200%;
  height: 1px;
  left: 100%;
  background: #1946B9;
}

.card-info-part .container .cards {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1100px) {
  .card-info-part .container .cards {
    padding-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-info-part .container .cards .item {
  padding-left: 0px;
  padding-right: 0px;
  width: 50%;
}

@media (max-width: 900px) {
  .card-info-part .container .cards .item {
    padding: 0 20px;
    margin-bottom: 64px;
  }
}

@media (max-width: 840px) {
  .card-info-part .container .cards .item {
    width: 100%;
    padding-left: calc(50% - 140px);
  }
}

@media (max-width: 600px) {
  .card-info-part .container .cards .item {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card-info-part .container .cards .item img {
  height: 212px;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .card-info-part .container .cards .item img {
    height: 175px;
  }
}

@media (max-width: 600px) {
  .card-info-part .container .cards .item img {
    height: auto;
    width: 100%;
    margin-bottom: 8px;
  }
}

.card-info-part .container .cards .item h3 {
  font-size: 30px;
  font-family: MR;
  font-weight: normal;
  line-height: 37px;
  color: #1946B9;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .card-info-part .container .cards .item h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 600px) {
  .card-info-part .container .cards .item h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}

.card-info-part .container .cards .item p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.7);
  font-family: ML;
}

@media (max-width: 1000px) {
  .card-info-part .container .cards .item p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  .card-info-part .container .cards .item p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
  }
}

.card-info-part .container .cards .item .more-part {
  display: none;
}

.card-info-part .container .cards .item .buttons {
  padding-top: 17px;
}

@media (max-width: 1000px) {
  .card-info-part .container .cards .item .buttons {
    padding-top: 9px;
  }
}

.card-info-part .container .cards .item .buttons .details {
  height: 34px;
  line-height: 34px;
  border: 1px solid #1946B9;
  border-radius: 35px;
  padding: 0 28px;
  font-size: 16px;
  color: #1946B9;
  font-family: ML;
  margin-right: 30px;
}

@media (max-width: 1000px) {
  .card-info-part .container .cards .item .buttons .details {
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
    padding: 0 24px;
  }
}

@media (max-width: 600px) {
  .card-info-part .container .cards .item .buttons .details {
    height: 27px;
    line-height: 27px;
    font-size: 12px;
  }
}

.card-info-part .container .cards .item .buttons .details:hover {
  background-color: #1946B9;
  color: #fff;
}

.card-info-part .container .cards .item .buttons .order {
  height: 34px;
  line-height: 34px;
  border: 1px solid #1946B9;
  background-color: #1946B9;
  border-radius: 35px;
  padding: 0 28px;
  font-size: 16px;
  color: #fff;
  font-family: ML;
  margin-right: 30px;
  display: inline-block;
}

@media (max-width: 1000px) {
  .card-info-part .container .cards .item .buttons .order {
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
    padding: 0 24px;
  }
}

@media (max-width: 600px) {
  .card-info-part .container .cards .item .buttons .order {
    height: 27px;
    line-height: 27px;
    font-size: 12px;
  }
}

.card-info-part .container .cards .item .buttons .order:hover {
  background-color: #0b3090;
}

.miles-calculator {
  background: #eee;
  padding-bottom: 80px;
}

@media (max-width: 650px) {
  .miles-calculator {
    padding-bottom: 50px;
  }
}

.miles-calculator .container .title {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 56px 0;
}

@media (max-width: 992px) {
  .miles-calculator .container .title {
    padding: 28px 0;
  }
}

.miles-calculator .container .title:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #1946B9;
  border-radius: 50%;
  right: 0;
}

.miles-calculator .container .title:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #1946B9;
  border-radius: 50%;
  left: 0;
}

.miles-calculator .container .title p {
  font-size: 28px;
  font-family: MR;
  color: #1946B9;
  display: inline-block;
  padding: 0 24px;
  position: relative;
}

@media (max-width: 992px) {
  .miles-calculator .container .title p {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .title p {
    font-size: 16px;
  }
}

.miles-calculator .container .title p:before {
  position: absolute;
  content: '';
  width: 200%;
  height: 1px;
  right: 100%;
  background: #1946B9;
}

.miles-calculator .container .title p:after {
  position: absolute;
  content: '';
  width: 200%;
  height: 1px;
  left: 100%;
  background: #1946B9;
}

.miles-calculator .container .calculator-header {
  margin: 0 -12px;
  padding-top: 8px;
  padding-bottom: 58px;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-header {
    margin: 0 -8px;
    padding-bottom: 48px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-header {
    margin: 0 auto;
    width: calc(100% - 30px);
    padding-bottom: 48px;
    padding-top: 0;
    margin-top: -10px;
    padding-bottom: 20px;
  }
}

.miles-calculator .container .calculator-header button {
  height: 56px;
  line-height: 56px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-family: ML;
  border: 1px solid #fff;
  margin: 0 12px;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-header button {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin: 0 8px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-header button {
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #1946B9;
  }
}

.miles-calculator .container .calculator-header button.active {
  background-color: #1946B9;
  color: #fff;
  pointer-events: none;
  border: 1px solid #1946B9;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-header button.active {
    margin: 0;
    background-color: transparent;
    border: none;
    color: #1946B9;
  }
}

.miles-calculator .container .calculator-header button:hover {
  border: 1px solid #1946B9;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-header button:hover {
    border: none;
  }
}

.miles-calculator .container .calculator-header .slick-next {
  overflow: hidden;
  position: absolute;
  right: -15px;
  top: 33px;
  background: red;
  width: 12px;
  height: 20px;
  border-radius: 0;
  border: none;
  background: url("../img/next.svg");
  color: transparent;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-header .slick-next {
    top: 25px;
  }
}

.miles-calculator .container .calculator-header .slick-next:before {
  display: none;
}

.miles-calculator .container .calculator-header .slick-prev {
  overflow: hidden;
  position: absolute;
  left: -15px;
  top: 33px;
  background: red;
  width: 12px;
  height: 20px;
  border-radius: 0;
  border: none;
  background: url("../img/prev.svg");
  color: transparent;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-header .slick-prev {
    top: 25px;
  }
}

.miles-calculator .container .calculator-header .slick-prev:before {
  display: none;
}

.miles-calculator .container .calculator-self {
  padding-bottom: 57px;
  margin-bottom: 0;
}

.miles-calculator .container .calculator-self .slick-dots {
  bottom: -70px;
}

.miles-calculator .container .calculator-self .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 4px;
}

.miles-calculator .container .calculator-self .slick-dots li button {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.miles-calculator .container .calculator-self .slick-dots li.slick-active button {
  background: rgba(0, 0, 0, 0.6);
}

.miles-calculator .container .calculator-self .slick-dots li button:before {
  display: none;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self {
    padding-bottom: 40px;
  }
}

.miles-calculator .container .calculator-self .details-part {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -16px;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part {
    margin: 0 -8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0;
  }
}

.miles-calculator .container .calculator-self .details-part > li {
  width: calc(100%/3 - 64px/3);
  margin: 0 16px;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part > li {
    margin: 0 8px;
    width: 51%;
  }
  .miles-calculator .container .calculator-self .details-part > li:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li {
    margin: 0;
  }
  .miles-calculator .container .calculator-self .details-part > li:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (max-width: 500px) {
  .miles-calculator .container .calculator-self .details-part > li {
    width: 100%;
  }
}

.miles-calculator .container .calculator-self .details-part > li label {
  display: block;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-family: ML;
  line-height: 22px;
  margin-bottom: 8px;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li label {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.miles-calculator .container .calculator-self .details-part > li .nice-select {
  height: 54px;
  line-height: 54px;
  width: 100%;
  border: 1px solid #fff;
  padding-left: 24px;
  padding-right: 45px;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part > li .nice-select {
    height: 48px;
    line-height: 48px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li .nice-select {
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    padding-right: 37px;
  }
}

.miles-calculator .container .calculator-self .details-part > li .nice-select:hover {
  border: 1px solid #1946B9;
}

.miles-calculator .container .calculator-self .details-part > li .nice-select ul {
  width: 100%;
}

.miles-calculator .container .calculator-self .details-part > li .nice-select ul li {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 24px;
}

.miles-calculator .container .calculator-self .details-part > li .nice-select .current {
  font-size: 22px;
  font-family: ML;
  color: #1946B9;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part > li .nice-select .current {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li .nice-select .current {
    font-size: 14px;
  }
}

.miles-calculator .container .calculator-self .details-part > li .nice-select:after {
  border-bottom: none;
  border-right: none;
  content: '';
  display: block;
  height: 8.93px;
  margin-top: 23px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  background: url("../img/arrow-black.svg");
  top: 0%;
  -webkit-transform-origin: 7px 4px;
  transform-origin: 7px 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 16px;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part > li .nice-select:after {
    margin-top: 19px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li .nice-select:after {
    right: 16px;
    margin-top: 13px;
  }
}

.miles-calculator .container .calculator-self .details-part > li .nice-select.open:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.miles-calculator .container .calculator-self .details-part > li .amount-input {
  position: relative;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #fff;
  padding-left: 24px;
  padding-right: 50px;
  font-size: 22px;
  font-family: ML;
  color: #1946B9;
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part > li .amount-input input {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li .amount-input input {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 42px;
  }
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input::-webkit-input-placeholder {
  color: #1946B9;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input:-ms-input-placeholder {
  color: #1946B9;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input::-ms-input-placeholder {
  color: #1946B9;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input::placeholder {
  color: #1946B9;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input:hover, .miles-calculator .container .calculator-self .details-part > li .amount-input input:focus {
  border: 1px solid #1946B9;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input input[type=number]::-webkit-inner-spin-button,
.miles-calculator .container .calculator-self .details-part > li .amount-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.miles-calculator .container .calculator-self .details-part > li .amount-input span {
  position: absolute;
  right: 22px;
  font-size: 20px;
  font-family: ML;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  .miles-calculator .container .calculator-self .details-part > li .amount-input span {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li .amount-input span {
    font-size: 16px;
    right: 16px;
  }
}

.miles-calculator .container .calculator-self .details-part > li .amount-input span:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 32px;
  background: rgba(0, 0, 0, 0.8);
  left: -26px;
}

@media (max-width: 650px) {
  .miles-calculator .container .calculator-self .details-part > li .amount-input span:before {
    height: 24px;
    left: -13px;
  }
}

.miles-calculator .container .total-bonus {
  text-align: center;
  overflow: hidden;
}

.miles-calculator .container .total-bonus .bonus-self {
  display: inline-block;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

@media (max-width: 992px) {
  .miles-calculator .container .total-bonus .bonus-self {
    padding: 0 16px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .total-bonus .bonus-self {
    padding: 0 8px;
  }
}

.miles-calculator .container .total-bonus .bonus-self:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 250%;
  right: 100%;
  top: 30px;
  background: #1946B9;
}

@media (max-width: 992px) {
  .miles-calculator .container .total-bonus .bonus-self:before {
    top: 18px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .total-bonus .bonus-self:before {
    top: 12px;
  }
}

.miles-calculator .container .total-bonus .bonus-self:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 250%;
  left: 100%;
  top: 30px;
  background: #1946B9;
}

@media (max-width: 992px) {
  .miles-calculator .container .total-bonus .bonus-self:after {
    top: 18px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .total-bonus .bonus-self:after {
    top: 12px;
  }
}

.miles-calculator .container .total-bonus .bonus-self .top {
  font-size: 48px;
  color: #1946B9;
  font-family: ML;
  line-height: 59px;
  margin-bottom: 3px;
}

@media (max-width: 992px) {
  .miles-calculator .container .total-bonus .bonus-self .top {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .total-bonus .bonus-self .top {
    font-size: 24px;
    line-height: 24px;
  }
}

.miles-calculator .container .total-bonus .bonus-self .bottom {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  font-family: ML;
}

@media (max-width: 992px) {
  .miles-calculator .container .total-bonus .bonus-self .bottom {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {
  .miles-calculator .container .total-bonus .bonus-self .bottom {
    font-size: 14px;
  }
}

.partners {
  padding-bottom: 80px;
}

.partners .container .title {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 56px 0;
}

@media (max-width: 992px) {
  .partners .container .title {
    padding: 28px 0;
  }
}

.partners .container .title:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #1946B9;
  border-radius: 50%;
  right: 0;
}

.partners .container .title:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  background: #1946B9;
  border-radius: 50%;
  left: 0;
}

.partners .container .title p {
  font-size: 28px;
  font-family: MR;
  color: #1946B9;
  display: inline-block;
  padding: 0 24px;
  position: relative;
}

@media (max-width: 992px) {
  .partners .container .title p {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .partners .container .title p {
    font-size: 16px;
  }
}

.partners .container .title p:before {
  position: absolute;
  content: '';
  width: 300%;
  height: 1px;
  right: 100%;
  background: #1946B9;
}

.partners .container .title p:after {
  position: absolute;
  content: '';
  width: 300%;
  height: 1px;
  left: 100%;
  background: #1946B9;
}

.partners .container .partners-list {
  margin: -16px;
  margin-top: -8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .partners .container .partners-list {
    margin: -10px;
  }
}

.partners .container .partners-list .item {
  padding: 20px 30px 36px 48px;
  margin: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: calc(100%/3 - 96px/3);
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .partners .container .partners-list .item {
    padding: 20px 15px 25px 30px;
    margin: 10px;
    width: calc(100%/3 - 20px);
  }
}

@media (max-width: 850px) {
  .partners .container .partners-list .item {
    padding: 20px 15px 20px 20px;
  }
}

@media (max-width: 710px) {
  .partners .container .partners-list .item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .partners .container .partners-list .item {
    width: 100%;
  }
}

.partners .container .partners-list .item .image {
  height: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.partners .container .partners-list .item .image img {
  max-height: 100%;
}

@media (max-width: 1100px) {
  .partners .container .partners-list .item .image {
    height: 40px;
  }
}

.partners .container .partners-list .item .name {
  font-size: 24px;
  color: #1946B9;
  font-family: MM;
  line-height: 29px;
  margin-bottom: 28px;
}

@media (max-width: 1100px) {
  .partners .container .partners-list .item .name {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 850px) {
  .partners .container .partners-list .item .name {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

@media (min-width: 501px) {
  .partners .container .partners-list .item .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.partners .container .partners-list .item .miles {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-family: MR;
  margin-bottom: 29px;
}

@media (max-width: 1100px) {
  .partners .container .partners-list .item .miles {
    font-size: 17px;
    margin-bottom: 15px;
  }
}

@media (max-width: 850px) {
  .partners .container .partners-list .item .miles {
    font-size: 15px;
    margin-bottom: 12px;
  }
}

.partners .container .partners-list .item .months {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: MR;
}

@media (max-width: 1100px) {
  .partners .container .partners-list .item .months {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .partners .container .partners-list .item .months {
    font-size: 13px;
  }
}

@media (min-width: 501px) {
  .partners .container .partners-list .item .months {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.partners .container .partners-modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
}

.partners .container .partners-modal .modal-self {
  width: 800px;
  height: 722px;
  background-color: #fff;
  border-radius: 48px;
  z-index: 1;
  padding: 48px 40px 0 40px;
}

.partners .container .partners-modal .modal-self .scroll-part {
  overflow-y: auto;
  height: calc(100% - 100px);
  padding: 0 40px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .scroll-part {
    padding: 0 20px;
    height: calc(100% - 74px);
  }
}

.partners .container .partners-modal .modal-self .scroll-part::-webkit-scrollbar {
  width: 10px;
}

.partners .container .partners-modal .modal-self .scroll-part::-webkit-scrollbar-track {
  background: rgba(25, 70, 185, 0.1);
  border-radius: 5px;
}

.partners .container .partners-modal .modal-self .scroll-part::-webkit-scrollbar-thumb {
  background: #1946B9;
  border-radius: 5px;
}

.partners .container .partners-modal .modal-self .scroll-part::-webkit-scrollbar-thumb:hover {
  background: #0b3090;
}

@media (max-width: 850px) {
  .partners .container .partners-modal .modal-self {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self {
    padding: 30px 0 0 0px;
  }
}

.partners .container .partners-modal .modal-self .image {
  text-align: center;
  height: 44px;
  margin-bottom: 50px;
}

.partners .container .partners-modal .modal-self .image img {
  max-height: 100%;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .image {
    margin-bottom: 30px;
  }
}

.partners .container .partners-modal .modal-self .name {
  font-size: 30px;
  font-family: MM;
  color: #1946B9;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .name {
    font-size: 23px;
    margin-bottom: 17px;
  }
}

.partners .container .partners-modal .modal-self .miles {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-family: MR;
  margin-bottom: 42px;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .miles {
    font-size: 17px;
    margin-bottom: 23px;
  }
}

.partners .container .partners-modal .modal-self .taksit {
  border-radius: 20px;
  background: rgba(25, 70, 185, 0.1);
  padding: 10px 20px 20px 20px;
  margin-bottom: 14px;
}

.partners .container .partners-modal .modal-self .taksit p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-family: MR;
  line-height: 27px;
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .taksit p {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.partners .container .partners-modal .modal-self .taksit ul {
  margin: -10px;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .taksit ul {
    margin: -5px;
  }
}

@media (max-width: 500px) {
  .partners .container .partners-modal .modal-self .taksit ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partners .container .partners-modal .modal-self .taksit ul li {
  width: 100%;
  background-color: #1946B9;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-family: MM;
  border-radius: 34px;
  margin: 10px;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .taksit ul li {
    margin: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: MR;
  }
}

@media (max-width: 500px) {
  .partners .container .partners-modal .modal-self .taksit ul li {
    width: 25%;
  }
}

.partners .container .partners-modal .modal-self .addresses {
  padding-top: 10px;
}

.partners .container .partners-modal .modal-self .addresses li {
  position: relative;
  padding-left: 52px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 20px;
  font-family: ML;
  margin-bottom: 28px;
}

.partners .container .partners-modal .modal-self .addresses li:before {
  position: absolute;
  content: '';
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  left: 0;
}

.partners .container .partners-modal .modal-self .addresses li:after {
  position: absolute;
  content: '';
  width: 14px;
  height: 20px;
  background: url("../img/drop.svg");
  left: 11px;
}

.partners .container .partners-modal .modal-self .close {
  position: absolute;
  top: 30px;
  right: 40px;
}

@media (max-width: 600px) {
  .partners .container .partners-modal .modal-self .close {
    top: 0;
    right: 0;
    padding: 20px;
  }
  .partners .container .partners-modal .modal-self .close img {
    width: 25px;
  }
}

.partners .container .partners-modal .modal-self .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.partners .container .partners-modal .close-part {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  cursor: pointer;
}

.partners .container .more {
  text-align: center;
  padding-top: 80px;
}

.partners .container .more .more-button {
  height: 48px;
  background-color: #1946B9;
  line-height: 48px;
  color: #fff;
  width: calc(100%/3 - 96px/3);
  border-radius: 65px;
  font-size: 24px;
  font-family: MR;
}

.partners .container .more .more-button:hover {
  background-color: #0b3090;
}

@media (max-width: 1100px) {
  .partners .container .more {
    padding-top: 60px;
  }
  .partners .container .more .more-button {
    width: calc(100%/3 - 20px);
    font-size: 20px;
    height: 45px;
    line-height: 45px;
  }
}

@media (max-width: 850px) {
  .partners .container .more {
    padding-top: 40px;
  }
  .partners .container .more .more-button {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    min-width: 220px;
  }
}

footer .footer-top {
  background: #113181;
  padding-top: 18px;
}

footer .footer-top .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 850px) {
  footer .footer-top .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .footer-top .container > div {
  width: calc(100%/3);
}

@media (max-width: 850px) {
  footer .footer-top .container > div {
    width: auto;
  }
}

footer .footer-top .container > div.left {
  padding-right: 40px;
  margin-bottom: 20px;
}

footer .footer-top .container > div.left li:not(:last-child) {
  margin-bottom: 8px;
}

footer .footer-top .container > div.left a {
  font-size: 16px;
  color: #fff;
  font-family: MM;
  line-height: 20px;
  position: relative;
}

footer .footer-top .container > div.left a:after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -3px;
}

footer .footer-top .container > div.left a:hover:after {
  width: 100%;
}

footer .footer-top .container > div.center {
  padding-right: 40px;
  margin-bottom: 20px;
}

footer .footer-top .container > div.center p {
  font-size: 16px;
  color: #fff;
  font-family: MM;
  line-height: 20px;
  margin-bottom: 8px;
}

footer .footer-top .container > div.center a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0a1d4d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
  border: 1px solid #0a1d4d;
}

footer .footer-top .container > div.center a:hover {
  border: 1px solid #fff;
}

footer .footer-top .container > div.right {
  margin-bottom: 20px;
}

footer .footer-top .container > div.right p {
  font-size: 16px;
  color: #fff;
  font-family: MM;
  line-height: 20px;
  margin-bottom: 8px;
}

footer .footer-top .container > div.right .links a {
  background-color: #0a1d4d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #0a1d4d;
}

footer .footer-top .container > div.right .links a:hover {
  border: 1px solid #fff;
}

footer .footer-top .container > div.right .links a:first-child {
  width: 108px;
  margin-right: 16px;
}

footer .footer-top .container > div.right .links a:last-child {
  width: 99px;
}

footer .footer-bottom {
  background: #0a1d4d;
  height: 48px;
}

footer .footer-bottom .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

footer .footer-bottom .container .left {
  font-size: 16px;
  color: #fff;
  font-family: ML;
}

@media (max-width: 600px) {
  footer .footer-bottom .container .left {
    font-size: 14px;
  }
}

footer .footer-bottom .container .right {
  font-size: 18px;
  color: #fff;
  font-family: MM;
}

@media (max-width: 600px) {
  footer .footer-bottom .container .right {
    font-family: MR;
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */