a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, li, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
  }
  
  html, body{
    height: 100% !important;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  @font-face {
    font-family: 'ML';
    src: url('../fonts/Montserrat-Light.otf');
  }
  @font-face {
    font-family: 'MM';
    src: url('../fonts/Montserrat-Medium.otf');
  }
  @font-face {
    font-family: 'MB';
    src: url('../fonts/Montserrat-Bold.otf');
  }
  @font-face {
    font-family: 'MR';
    src: url('../fonts/Montserrat-Regular.otf');
  }
  
  .azn{
    font-family: 'JISAZN-Bold' !important;
    position: relative;
    display: inline-block !important;
  
    &:before{
      content: 'M';
    }
  }
  
  
  //
  @mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right)
  {
    -webkit-border-top-left-radius: $top-left;
    -moz-border-top-left-radius: $top-left;
    border-top-left-radius: $top-left;
    -webkit-border-top-right-radius: $top-right;
    -moz-border-top-right-radius: $top-right;
    border-top-right-radius: $top-right;
    -webkit-border-bottom-right-radius:$bottom-left;
    -moz-border-bottom-right-radius: $bottom-left;
    border-bottom-right-radius: $bottom-left;
    -webkit-border-bottom-left-radius: $bottom-right;
    -moz-border-bottom-left-radius: $bottom-right;
    border-bottom-left-radius: $bottom-right;
  }
  //
  %bgc
  {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  
  %itemcenter
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  //
  %item-horizontal
  {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  //
  %a-tr
  {
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  //
  %btn-tr
  {
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  //
  %roweffect
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  //
  @mixin col($wpercent)
  {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $wpercent;
    flex: 0 0 $wpercent;
    max-width: $wpercent;
  }
  @mixin row($row)
  {
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
  //
  %flex
  {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  %flex_important
  {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
  
  $real : #1946B9;
  $hover : #0b3090;
  $gray: #a6b1bd;
  
  //
  *{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
    margin-bottom: 0;
  }
  button{
    cursor: pointer;
    background-color: none;
    background: none;
    border: none;
  
    &:focus{
      outline: none;
    }
  }
  
  input{
    &:focus{
      outline: none;
    }
  }
  
  textarea{
    &:focus{
      outline: none;
    }
  }
  
  a{
    text-decoration: none;
  }
  
  body{
    background-color: #fff;
    color: #202020;
    font-family: 'MR';
  }
  .hidden{
    overflow: hidden;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  %c{
    max-width: 1110px;
    padding: 0 20px;
    margin: 0 auto;
  }
  a{
    text-decoration: none !important;
    @extend %a-tr;
  
    &:hover{
      @extend %a-tr;
    }
  }
  
  .nice-select {
      -webkit-tap-highlight-color: transparent;
      background-color: #fff;
      border-radius: 5px;
      border: solid 1px #e8e8e8;
      box-sizing: border-box;
      clear: both;
      cursor: pointer;
      display: block;
      float: left;
      font-family: inherit;
      font-size: 14px;
      font-weight: normal;
      height: 42px;
      line-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 30px;
      position: relative;
      text-align: left !important;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      width: auto;
  }
  
  .nice-select:hover {
      border-color: #dbdbdb;
  }
  
  .nice-select:active,
  .nice-select.open,
  .nice-select:focus {
      border-color: #999;
  }
  
  .nice-select:after {
      border-bottom: 2px solid #999;
      border-right: 2px solid #999;
      content: '';
      display: block;
      height: 5px;
      margin-top: -4px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 5px;
  }
  
  .nice-select.open:after {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  }
  
  .nice-select.open .list {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
  }
  
  .nice-select.disabled {
      border-color: #ededed;
      color: #999;
      pointer-events: none;
  }
  
  .nice-select.disabled:after {
      border-color: #cccccc;
  }
  
  .nice-select.wide {
      width: 100%;
  }
  
  .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important;
  }
  
  .nice-select.right {
      float: right;
  }
  
  .nice-select.right .list {
      left: auto;
      right: 0;
  }
  
  .nice-select.small {
      font-size: 12px;
      height: 36px;
      line-height: 34px;
  }
  
  .nice-select.small:after {
      height: 4px;
      width: 4px;
  }
  
  .nice-select.small .option {
      line-height: 34px;
      min-height: 34px;
  }
  
  .nice-select .list {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
      box-sizing: border-box;
      margin-top: 4px;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transform: scale(0.75) translateY(-21px);
      -ms-transform: scale(0.75) translateY(-21px);
      transform: scale(0.75) translateY(-21px);
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      z-index: 9;
  }
  
  .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important;
  }
  
  .nice-select .option {
      cursor: pointer;
      font-weight: 400;
      line-height: 40px;
      list-style: none;
      min-height: 40px;
      outline: none;
      padding-left: 18px;
      padding-right: 29px;
      text-align: left;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
  }
  
  .nice-select .option:hover,
  .nice-select .option.focus,
  .nice-select .option.selected.focus {
      background-color: #f6f6f6;
  }
  
  .nice-select .option.selected {
      font-weight: bold;
  }
  
  .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default;
  }
  
  .no-csspointerevents .nice-select .list {
      display: none;
  }
  
  .no-csspointerevents .nice-select.open .list {
      display: block;
  }

  header{
      height: 100px;

      @media (max-width: 1000px) {
          height: 80px;
      }
      @media (max-width: 700px) {
        height: 48px;
      }

      >ul{
          @extend %flex;
          height: 100%;
          justify-content: space-between;
          align-items: center;
          @extend %c;

          >li{
              &.mob-cabinet{
                  display: none;

                  @media (max-width: 700px) {
                      display: block;
                  }

                  button{
                    width: 40px;
                    padding: 10px 0;
                    position: relative;
                    left: -10px;
                  }
              }

              &.left{
                  a{
                      img{
                        @media (max-width: 1000px) {
                            height: 48px;
                        }
                        @media (max-width: 700px) {
                            height: 30px;
                        }
                      }
                  }
              }

              &.right{
                  @extend %flex;
                  align-items: center;

                  a{
                      background-color: #1946B9;
                      color: #fff;
                      padding: 0 20px;
                      height: 40px;
                      @extend %flex;
                      align-items: center;
                      border-radius: 37px;
                      margin-right: 32px;

                      img{
                          margin-right: 17px;
                      }

                      @media (max-width: 700px) {
                        display: none;
                      }
                  }

                  .nice-select{
                      border: none;
                      padding-right: 20px;
                      padding-left: 0;
                      width: 52px;

                      @media (max-width: 700px) {
                        width: 40px;
                      }

                      .option{
                        padding-left: 15px;
                        padding-right: 15px;

                        @media (max-width: 700px) {
                            padding-left: 9px;
                            padding-right: 9px;
                        }
                      }

                      .current{
                          color: $real;
                          font-size: 22px;
                          font-family: ML;

                          @media (max-width: 700px) {
                            font-size: 16px;
                          }
                      }

                      &:after{
                        border-bottom: none;
                        border-right: none;
                        content: '';
                        display: block;
                        height: 7.36px;
                        margin-top: 16px;
                        pointer-events: none;
                        position: absolute;
                        right: 1px;
                        background: url('../img/arrow.svg');
                        @extend %bgc;
                        top: 0%;
                        -webkit-transform-origin: 7px 4px;
                        transform-origin: 7px 4px;
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: all 0.15s ease-in-out;
                        transition: all 0.15s ease-in-out;
                        width: 13.18px;
                      }

                      &.open{
                          &:after{
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                          }
                      }
                  }
              }
          }
      }
  }

  .none{
      display: none;
  }

  .home-slider{
    height: 480px;
    width: 100%;

    @media (max-width: 1100px) {
        height: 320px;
    }
    @media (max-width: 650px) {
        height: 250px;
    }
    @media (max-width: 500px) {
        height: 200px;
    }

    .slick-dots{
        bottom: 0;
        padding-bottom: 24px;

        @media (max-width: 650px) {
            padding-bottom: 15px;
        }

        li{
            margin: 0 8px;
            width: auto;
            height: auto;

            @media (max-width: 650px) {
                margin: 0 5px;
            }

            button{
                width: 12px;
                height: 12px;
                background: #fff;
                border-radius: 50%;
                margin: 0;
    
                &::before{
                    display: none;
                }

                @media (max-width: 650px) {
                    width: 9px;
                    height: 9px;
                }
            }

            &.slick-active{
                pointer-events: none;
                
                button{
                    background: rgba(255,255,255,.5);
                    pointer-events: none;
                }
            }
        }
    }

    .slick-slide>div{
        text-align: center;
    }

    .item{
        height: 480px;
        background: url('../img/home-slider-bg.jpg');

        @media (max-width: 1100px) {
            height: 320px;
        }
        @media (max-width: 650px) {
            height: 250px;
        }
        @media (max-width: 500px) {
            height: 200px;
        }

        .container{
            @extend %c;
            @extend %flex_important;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            height: 480px;

            @media (max-width: 1200px) {
                width: 100%;
                max-width: 100%;
                padding: 0 40px 0 60px;
            }
            @media (max-width: 1100px) {
                height: 320px;
            }
            @media (max-width: 740px) {
                padding: 0 10px 0 20px;
            }
            @media (max-width: 650px) {
                height: 250px;
            }
            @media (max-width: 500px) {
                height: 200px;
            }
        }

        .texts{
            font-size: 40px;
            line-height: 49px;
            color: #fff;
            font-family: ML;

            .bold{
              font-family: MB;
            }

            @media (max-width: 900px) {
                font-size: 36px;
                line-height: 44px;
            }
            @media (max-width: 740px) {
                font-size: 30px;
                line-height: 36px;
            }
            @media (max-width: 650px) {
                font-size: 24px;
                line-height: 30px;
            }
            @media (max-width: 500px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        .card-img{
            position: relative;
            height: 100%;

            img{
                height: 100%;
            }

            .shadow{
                position: absolute;
                left: 0;
                top: 0;
                mix-blend-mode: multiply;
            }

            @media (max-width: 850px) {
                height: 80%;
            }
            @media (max-width: 400px) {
                height: 70%;
            }
            @media (max-width: 350px) {
                height: 60%;
            }
        }
    }
  }

  .card-info-part{
      padding-bottom: 80px;

      @media (max-width: 900px) {
           padding-bottom: 16px;
        }

      .container{
          @extend %c;

          .title{
            position: relative;
            text-align: center;
            overflow: hidden;
            padding: 56px 0;

            @media (max-width: 992px) {
                padding: 28px 0;
            }
            

            &:after{
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                background: $real;
                border-radius: 50%;
                right: 0;
                @extend %item-horizontal;
            }

            &:before{
              position: absolute;
              content: '';
              width: 7px;
              height: 7px;
              background: $real;
              border-radius: 50%;
              left: 0;
              @extend %item-horizontal;
            }

            p{
              font-size: 28px;
              font-family: MR;
              color: $real;
              display: inline-block;
              padding: 0 24px;
              position: relative;

              @media (max-width: 992px) {
                font-size: 24px;
             }

             @media (max-width: 650px) {
                font-size: 16px;  
                padding: 0 8px;
             }

              &:before{
                  position: absolute;
                  content: '';
                  width: 200%;
                  height: 1px;
                  right: 100%;
                  background: $real;
                  @extend %item-horizontal;
              }

              &:after{
                  position: absolute;
                  content: '';
                  width: 200%;
                  height: 1px;
                  left: 100%;
                  background: $real;
                  @extend %item-horizontal;
              }
            }
            }

          .cards{
              @extend %flex;
              justify-content: space-around;

              @media (max-width: 1100px) {
                  padding-left: 0;
                  flex-wrap: wrap;
              }

              .item{
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 50%;

                    @media (max-width: 900px) {
                        padding: 0 20px;
                        margin-bottom: 64px;
                    }

                    @media (max-width: 840px) {
                        width: 100%;
                        padding-left: calc(50% - 140px);
                    }

                    @media (max-width: 600px) {
                        width: 100%;
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                  img{
                      height: 212px;
                      margin-bottom: 25px;

                      @media (max-width: 900px) {
                          height: 175px;
                      }
                      @media (max-width: 600px) {
                        height: auto;
                        width: 100%;
                        margin-bottom: 8px;
                      }
                  }

                  h3{
                      font-size: 30px;
                      font-family: MR;
                      font-weight: normal;
                      line-height: 37px;
                      color: $real;
                      margin-bottom: 15px;

                      @media (max-width: 1000px) {
                          font-size: 24px;
                          line-height: 29px;
                      }
                      @media (max-width: 600px) {
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 8px;
                      }
                  }

                  p{
                      font-size: 20px;
                      line-height: 24px;
                      margin-bottom: 7px;
                      color: rgba(0, 0, 0, 0.7);
                      font-family: ML;

                      @media (max-width: 1000px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    @media (max-width: 600px) {
                        font-size: 12px;
                        line-height: 15px;
                        margin-bottom: 4px;
                      }
                  }

                  .more-part{
                      display: none;
                  }

                  .buttons{
                      @extend %flex;
                      padding-top: 17px;

                      @media (max-width: 1000px) {
                        padding-top: 9px;
                      }

                      .details{
                          height: 34px;
                          line-height: 34px;
                          border: 1px solid $real;
                          border-radius: 35px;
                          padding: 0 28px;
                          font-size: 16px;
                          color: $real;
                          font-family: ML;
                          margin-right: 30px;
                          @extend %a-tr;

                          @media (max-width: 1000px) {
                            height: 30px;
                            line-height: 30px;
                            margin-right: 16px;
                            padding: 0 24px;
                          }

                          @media (max-width: 600px) {
                              height: 27px;
                              line-height: 27px;
                              font-size: 12px;
                          }

                          &:hover{
                              background-color: $real;
                              color: #fff;
                              @extend %a-tr;
                          }
                      }

                      .order{
                        height: 34px;
                        line-height: 34px;
                        border: 1px solid $real;
                        background-color: $real;
                        border-radius: 35px;
                        padding: 0 28px;
                        font-size: 16px;
                        color: #fff;
                        font-family: ML;
                        margin-right: 30px;
                        @extend %a-tr;
                        display: inline-block;

                        @media (max-width: 1000px) {
                            height: 30px;
                            line-height: 30px;
                            margin-right: 16px;
                            padding: 0 24px;
                        }

                        @media (max-width: 600px) {
                            height: 27px;
                            line-height: 27px;
                            font-size: 12px;
                        }

                        &:hover{
                            background-color: $hover;
                            @extend %a-tr;
                        }
                    }
                  }
              }
          }
      }
  }

  .miles-calculator{
      background: #eee;
      padding-bottom: 80px;

      @media (max-width: 650px) {
          padding-bottom: 50px;
      }

      .container{
        @extend %c;

        .title{
            position: relative;
            text-align: center;
            overflow: hidden;
            padding: 56px 0;

            @media (max-width: 992px) {
                padding: 28px 0;
            }

            &:after{
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                background: $real;
                border-radius: 50%;
                right: 0;
                @extend %item-horizontal;
            }

            &:before{
              position: absolute;
              content: '';
              width: 7px;
              height: 7px;
              background: $real;
              border-radius: 50%;
              left: 0;
              @extend %item-horizontal;
            }

            p{
              font-size: 28px;
              font-family: MR;
              color: $real;
              display: inline-block;
              padding: 0 24px;
              position: relative;

              @media (max-width: 992px) {
                font-size: 24px;
             }

             @media (max-width: 650px) {
                font-size: 16px;  
             }

              &:before{
                  position: absolute;
                  content: '';
                  width: 200%;
                  height: 1px;
                  right: 100%;
                  background: $real;
                  @extend %item-horizontal;
              }

              &:after{
                  position: absolute;
                  content: '';
                  width: 200%;
                  height: 1px;
                  left: 100%;
                  background: $real;
                  @extend %item-horizontal;
              }
            }
        }

        .calculator-header{ 
            @extend %flex;
            margin: 0 -12px;
            padding-top: 8px;
            padding-bottom: 58px;

            @media (max-width: 992px) {
                margin: 0 -8px;
                padding-bottom: 48px;
            }

            @media (max-width: 650px) {
                margin: 0 auto;
                width: calc(100% - 30px);
                padding-bottom: 48px;
                padding-top: 0;
                margin-top: -10px;
                padding-bottom: 20px;
            }

            button{
                height: 56px;
                line-height: 56px;
                border-radius: 8px;
                background-color: #fff;
                font-size: 24px;
                color: rgba(0, 0, 0, 0.8);
                font-family: ML;
                border: 1px solid #fff;
                @extend %a-tr;
                margin: 0 12px;
                flex-grow: 8;

                @media (max-width: 992px) {
                    height: 48px;
                    line-height: 48px;
                    font-size: 18px;
                    margin: 0 8px;
                }
                @media (max-width: 650px) {
                    margin: 0;
                    background-color: transparent;
                    border: none;
                    font-size: 16px;
                    color: $real;
                }

                &.active{
                    background-color: $real;
                    color: #fff;
                    pointer-events: none;
                    border: 1px solid $real;

                    @media (max-width: 650px) {
                        margin: 0;
                        background-color: transparent;
                        border: none;
                        color: $real;
                    }
                }


                &:hover{
                    border: 1px solid $real;
                    @extend %a-tr;

                    @media (max-width: 650px) {
                        border: none;
                    }
                }
            }

            .slick-next{
                overflow: hidden;
                position: absolute;
                right: -15px;
                top: 33px;
                background: red;
                width: 12px;
                height: 20px;
                border-radius: 0;
                border: none;
                background: url('../img/next.svg');
                @extend %bgc;
                color: transparent;

                @media (max-width: 650px) {
                    top: 25px;
                }

                &:before{
                    display: none;
                }
            }

            .slick-prev{
                overflow: hidden;
                position: absolute;
                left: -15px;
                top: 33px;
                background: red;
                width: 12px;
                height: 20px;
                border-radius: 0;
                border: none;
                background: url('../img/prev.svg');
                @extend %bgc;
                color: transparent;

                @media (max-width: 650px) {
                    top: 25px;
                }

                &:before{
                    display: none;
                }
            }
        }

        .calculator-self{
            padding-bottom: 57px;
            margin-bottom: 0;

            .slick-dots{
                bottom: -70px;
            }

            .slick-dots li{
                width: auto;
                height: auto;
                margin: 0 4px;

            }

            .slick-dots li button{
                width: 5px;
                height: 5px;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 50%;
            }

            .slick-dots li.slick-active button{
                background: rgba(0, 0, 0, 0.6);
            }

            .slick-dots li button:before{
                display: none;
            }

            @media (max-width: 650px) {
                padding-bottom: 40px;
            }

            .details-part{
                display: none;
                justify-content: center;
                margin: 0 -16px;

                @media (max-width: 992px) {
                    margin: 0 -8px;
                    flex-wrap: wrap;
                }
                
                @media (max-width: 650px) {
                    display: -webkit-box !important;
                    display: -moz-box !important;
                    display: -ms-flexbox !important;
                    display: -webkit-flex !important;
                    display: flex !important;
                    margin: 0;
                }

                &.active{
                    @extend %flex_important;
                }

                >li{
                    width: calc(100%/3 - 64px/3);
                    margin: 0 16px;

                    @media (max-width: 992px) {
                        margin: 0 8px;
                        width: 51%;

                        &:not(:last-child) {
                            margin-bottom: 48px;
                        }
                    }

                    @media (max-width: 650px) {
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                        margin: 0;
                    }

                    @media (max-width: 500px) {
                        width: 100%;
                    }

                    label{
                        display: block;
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.8);
                        font-family: ML;
                        line-height: 22px;
                        margin-bottom: 8px;

                        @media (max-width: 650px) {
                            font-size: 12px;
                            margin-bottom: 3px;
                        }
                    }

                    .nice-select{
                        height: 54px;
                        line-height: 54px;
                        width: 100%;
                        border: 1px solid #fff;
                        padding-left: 24px;
                        padding-right: 45px;
                        @extend %a-tr;

                        @media (max-width: 992px) {
                            height: 48px;
                            line-height: 48px;
                        }
                        @media (max-width: 650px) {
                           height: 36px;
                           line-height: 36px;
                           padding-left: 16px;
                           padding-right: 37px;
                        }

                        &:hover{
                            border: 1px solid $real;
                            @extend %a-tr;
                        }

                        ul{
                            width: 100%;

                            li{
                                display: block;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                padding-left: 24px;
                            }
                        }

                        .current{
                            font-size: 22px;
                            font-family: ML;
                            color: $real;
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            @media (max-width: 992px) {
                                font-size: 18px;
                            }
                            @media (max-width: 650px) {
                                font-size: 14px;
                            }
                        }

                        &:after{
                            border-bottom: none;
                            border-right: none;
                            content: '';
                            display: block;
                            height: 8.93px;
                            margin-top: 23px;
                            pointer-events: none;
                            position: absolute;
                            right: 20px;
                            background: url('../img/arrow-black.svg');
                            top: 0%;
                            -webkit-transform-origin: 7px 4px;
                            transform-origin: 7px 4px;
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: all 0.15s ease-in-out;
                            transition: all 0.15s ease-in-out;
                            width: 16px;

                            @media (max-width: 992px) {
                                margin-top: 19px;
                            }

                            @media (max-width: 650px) {
                                right: 16px;
                                margin-top: 13px;
                            }
                        }

                        &.open{
                            &:after{
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .amount-input{
                        position: relative;

                        input{
                            width: 100%;
                            height: 54px;
                            border-radius: 8px;
                            border: 1px solid #fff;
                            padding-left: 24px;
                            padding-right: 50px;
                            font-size: 22px;
                            font-family: ML;
                            color: $real;
                            @extend %a-tr;

                            @media (max-width: 992px) {
                                height: 48px;
                                line-height: 48px;
                                font-size: 18px;
                            }
                            @media (max-width: 650px) {
                                height: 36px;
                                line-height: 36px;
                                font-size: 14px;
                                padding-left: 16px;
                                padding-right: 42px;
                            }

                            &::placeholder{
                                color: $real;
                            }

                            &:hover, &:focus{
                                border: 1px solid $real;
                                @extend %a-tr;
                            }
                        }

                        input[type=number]::-webkit-inner-spin-button, 
                        input[type=number]::-webkit-outer-spin-button { 
                            -webkit-appearance: none; 
                            margin: 0; 
                        }

                        span{
                            position: absolute;
                            right: 22px;
                            @extend %item-horizontal;
                            font-size: 20px;
                            font-family: ML;
                            color: rgba(0, 0, 0, 0.8);


                            @media (max-width: 992px) {
                                font-size: 18px;
                            }
                            @media (max-width: 650px) {
                                font-size: 16px;
                                right: 16px;
                            }

                            &:before{
                                position: absolute;
                                content: '';
                                width: 1px;
                                height: 32px;
                                background: rgba(0, 0, 0, 0.8);
                                left: -26px;
                                @extend %item-horizontal;

                                @media (max-width: 650px) {
                                    height: 24px;
                                    left: -13px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .total-bonus{
            text-align: center;
            overflow: hidden;

            .bonus-self{
                display: inline-block;
                margin: 0 auto;
                padding: 0 24px;
                position: relative;

                @media (max-width: 992px) {
                    padding: 0 16px;
                }

                @media (max-width: 650px) {
                    padding: 0 8px;
                }

                &:before{
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 250%;
                    right: 100%;
                    top: 30px;
                    background: $real;

                    @media (max-width: 992px) {
                        top: 18px;
                    }
                    @media (max-width: 650px) {
                        top: 12px;
                    }
                }
                &:after{
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 250%;
                    left: 100%;
                    top: 30px;
                    background: $real;

                    @media (max-width: 992px) {
                        top: 18px;
                    }
                    @media (max-width: 650px) {
                        top: 12px;
                    }
                }

                .top{
                    font-size: 48px;
                    color: $real;
                    font-family: ML;
                    line-height: 59px;
                    margin-bottom: 3px;

                    @media (max-width: 992px) {
                        font-size: 36px;
                        line-height: 36px;
                    }
                    @media (max-width: 650px) {
                        font-size: 24px;
                        line-height: 24px   ;
                    }
                }
                .bottom{
                    font-size: 22px;
                    color: rgba(0, 0, 0, 0.8);
                    font-family: ML;
                    
                    @media (max-width: 992px) {
                        font-size: 18px;
                        margin-bottom: 0;
                    }
                    @media (max-width: 650px) {
                        font-size: 14px;
                    }
                }
            }
        }
      }
  }

  .partners{
      padding-bottom: 80px;

      .container{
          @extend %c;

          .title{
            position: relative;
            text-align: center;
            overflow: hidden;
            padding: 56px 0;

            @media (max-width: 992px) {
                padding: 28px 0;
            }

            &:after{
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                background: $real;
                border-radius: 50%;
                right: 0;
                @extend %item-horizontal;
            }

            &:before{
              position: absolute;
              content: '';
              width: 7px;
              height: 7px;
              background: $real;
              border-radius: 50%;
              left: 0;
              @extend %item-horizontal;
            }

            p{
              font-size: 28px;
              font-family: MR;
              color: $real;
              display: inline-block;
              padding: 0 24px;
              position: relative;

              @media (max-width: 992px) {
                font-size: 24px;
             }

             @media (max-width: 650px) {
                font-size: 16px;  
             }

              &:before{
                  position: absolute;
                  content: '';
                  width: 300%;
                  height: 1px;
                  right: 100%;
                  background: $real;
                  @extend %item-horizontal;
              }

              &:after{
                  position: absolute;
                  content: '';
                  width: 300%;
                  height: 1px;
                  left: 100%;
                  background: $real;
                  @extend %item-horizontal;
              }
            }
            }

          .partners-list{
              @extend %flex;
              margin: -16px;
              margin-top: -8px;
              flex-wrap: wrap;

              @media (max-width: 1100px) {
                margin: -10px;
            }

              .item{
                  padding: 20px 30px 36px 48px;
                  margin: 16px;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                  border-radius: 16px;
                  width: calc(100%/3 - 96px/3);
                  border: 1px solid #EEEEEE;
                  cursor: pointer;

                  @media (max-width: 1100px) {
                      padding: 20px 15px 25px 30px;
                      margin: 10px;
                      width: calc(100%/3 - 20px);
                  }

                  @media (max-width: 850px) {
                    padding: 20px 15px 20px 20px;
                  }

                  @media (max-width: 710px) {
                    width: calc(50% - 20px);
                  }

                  @media (max-width: 500px) {
                    width: 100%;
                  }

                  .image{
                      height: 48px;
                      margin-bottom: 20px;
                      text-align: center;

                      img{
                          max-height: 100%;
                      }

                      @media (max-width: 1100px) {
                        height: 40px;
                      }
                  }

                  .name{
                      font-size: 24px;
                      color: $real;
                      font-family: MM;
                      line-height: 29px;
                      margin-bottom: 28px;

                      @media (max-width: 1100px) {
                        font-size: 20px;
                        margin-bottom: 15px;
                      }

                      @media (max-width: 850px) {
                        font-size: 17px;
                        margin-bottom: 10px;
                      }

                      @media (min-width: 501px) {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                      }
                  }

                  .miles{
                      font-size: 18px;
                      color: rgba(0, 0, 0, 0.8);
                      font-family: MR;
                      margin-bottom: 29px;

                      @media (max-width: 1100px) {
                        font-size: 17px;
                        margin-bottom: 15px;
                      }

                      @media (max-width: 850px) {
                        font-size: 15px;
                        margin-bottom: 12px;
                      }
                  }

                  .months{
                      font-size: 16px;
                      color: rgba(0, 0, 0, 0.8);
                      font-family: MR;

                      @media (max-width: 1100px) {
                        font-size: 14px;
                      }

                      @media (max-width: 850px) {
                        font-size: 13px;
                      }

                      @media (min-width: 501px) {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                      }
                  }
              }
          }

          .partners-modal{
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            display: none; 

            .modal-self{
                width: 800px;
                height: 722px;
                background-color: #fff;
                border-radius: 48px;
                @extend %itemcenter;
                z-index: 1;
                padding: 48px 40px 0 40px;
                
                .scroll-part{
                    overflow-y: auto;
                    height: calc(100% - 100px);
                    padding: 0 40px;

                    @media (max-width: 600px) {
                        padding: 0 20px;
                        height: calc(100% - 74px);
                    }

                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: rgba(25, 70, 185, 0.1);;
                        border-radius: 5px; 
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: $real; 
                        border-radius: 5px;
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: $hover; 
                    }
                }

                @media (max-width: 850px) {
                    width: 100%;
                    height: 100vh;
                    border-radius: 0;
                }

                @media (max-width: 600px) {
                    padding: 30px 0 0 0px;
                }

                .image{
                    text-align: center;
                    height: 44px;
                    margin-bottom: 50px;

                    img{
                        max-height: 100%;
                    }

                    @media (max-width: 600px) {
                        margin-bottom: 30px;
                    }
                }

                .name{
                    font-size: 30px;
                    font-family: MM;
                    color: $real;
                    margin-bottom: 40px;

                    @media (max-width: 600px) {
                        font-size: 23px;
                        margin-bottom: 17px;
                    }
                }

                .miles{
                    font-size: 24px;
                    color: rgba(0, 0, 0, 0.8);
                    font-family: MR;
                    margin-bottom: 42px; 

                    @media (max-width: 600px) {
                        font-size: 17px;
                        margin-bottom: 23px;
                    }
                }

                .taksit{
                    border-radius: 20px;
                    background: rgba(25, 70, 185, 0.1);
                    padding: 10px 20px 20px 20px;
                    margin-bottom: 14px;

                    p{
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.8);
                        font-family: MR;
                        line-height: 27px;
                        margin-bottom: 12px;

                        @media (max-width: 600px) {
                            font-size: 17px;
                            margin-bottom: 10px;
                        }
                    }

                    ul{
                        @extend %flex;
                        margin: -10px;

                        @media (max-width: 600px) {
                            margin: -5px
                        }
                        @media (max-width: 500px) {
                            flex-wrap: wrap;
                        }
    
                        li{
                            width: 100%;
                            background-color: $real;
                            height: 40px;
                            color: #fff;
                            text-align: center;
                            line-height: 40px;
                            font-size: 16px;
                            font-family: MM;
                            border-radius: 34px;
                            margin: 10px;
                            flex-grow: 8;


                            @media (max-width: 600px) {
                                margin: 5px;
                                height: 30px;
                                line-height: 30px;
                                font-size: 14px;
                                font-family: MR;
                            }

                            @media (max-width: 500px) {
                                width: 25%;
                            }
                        }
                    }
                }

                .addresses{
                    padding-top: 10px;

                    li{
                        position: relative;
                        padding-left: 52px;
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.8);
                        line-height: 20px;
                        font-family: ML;
                        margin-bottom: 28px;
                        
                        &:before{
                            position: absolute;
                            content: '';
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            border: 1px solid rgba(0, 0, 0, 0.5);
                            left: 0;
                            @extend %item-horizontal;
                        }

                        &:after{
                            position: absolute;
                            content: '';
                            width: 14px;
                            height: 20px;
                            @extend %bgc;
                            background: url('../img/drop.svg');
                            @extend %item-horizontal;
                            left: 11px;
                        }
                    }
                }

                .close{
                    position: absolute;
                    top: 30px;
                    right: 40px;
                    @extend %btn-tr;

                    @media (max-width: 600px) {
                        top: 0;
                        right: 0;
                        padding: 20px;

                        img{
                            width: 25px;
                        }
                    }

                    &:hover{
                        transform: rotate(90deg);
                        @extend %btn-tr;
                    }
                }
            }

            .close-part{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: transparent;
                cursor: pointer;
            }
          }

          .more{
              text-align: center;
              padding-top: 80px;

              .more-button{
                  height: 48px;
                  background-color: #1946B9;
                  line-height: 48px;
                  color: #fff;
                  width: calc(100%/3 - 96px/3);
                  border-radius: 65px;
                  font-size: 24px;
                  font-family: MR;
                  @extend %a-tr;

                  &:hover{
                      background-color: $hover;
                      @extend %a-tr;
                  }
              }

              @media (max-width: 1100px) {
                padding-top: 60px;
                
                .more-button{
                    width: calc(100%/3 - 20px);
                    font-size: 20px;
                    height: 45px;
                    line-height: 45px;
                }
              }

              @media (max-width: 850px) {
                  padding-top: 40px;

                .more-button{
                    height: 40px;
                    line-height: 40px;
                    font-size: 17px;
                    min-width: 220px;
                }
              }
          }
      }
  }

  footer{
      .footer-top{
          background: #113181;
          padding-top: 18px;

          .container{
              @extend %c;
              @extend %flex;
              flex-wrap: wrap;

              @media (max-width: 850px) {
                justify-content: space-between;
              }

              >div{
                  width: calc(100%/3);

                  @media (max-width: 850px) {
                      width: auto;
                  }

                  &.left{
                      padding-right: 40px;
                      margin-bottom: 20px;

                      li:not(:last-child) {
                        margin-bottom: 8px;
                      }

                      a{
                          font-size: 16px;
                          color: #fff;
                          font-family: MM;
                          line-height: 20px;
                          position: relative;

                          &:after{
                              position: absolute;
                              content: '';
                              width: 0%;
                              height: 1px;
                              background-color: #fff;
                              left: 0;
                              bottom: -3px;
                              @extend %btn-tr;
                          }

                          &:hover{
                              &:after{
                                  width: 100%;
                                  @extend %btn-tr;
                              }
                          }
                      }
                  }

                  &.center{
                      padding-right: 40px;
                      margin-bottom: 20px;

                      p{
                        font-size: 16px;
                        color: #fff;
                        font-family: MM;
                        line-height: 20px;
                        margin-bottom: 8px;
                      }

                      a{
                          width: 40px;
                          height: 40px;
                          border-radius: 50%;
                          background-color: #0a1d4d;
                          @extend %flex;
                          align-items: center;
                          justify-content: center;
                          margin-right: 16px;
                          border: 1px solid #0a1d4d;

                          &:hover{
                              border: 1px solid #fff;
                          }
                      }

                      .links{
                          @extend %flex;
                      }
                  }

                  &.right{
                    margin-bottom: 20px;

                      p{
                        font-size: 16px;
                        color: #fff;
                        font-family: MM;
                        line-height: 20px;
                        margin-bottom: 8px;
                      }

                      .links{
                        @extend %flex;

                        a{
                          background-color: #0a1d4d;
                          @extend %flex;
                          align-items: center;
                          justify-content: center;
                          border-radius: 8px;
                          overflow: hidden;
                          border: 1px solid #0a1d4d;

                          &:hover{
                              border: 1px solid #fff;
                          }

                          &:first-child{
                              width: 108px;
                              margin-right: 16px;
                          }

                          &:last-child{
                              width: 99px;
                          }
                        }
                      }
                  }
              }
          }
      }

      .footer-bottom{
          background: #0a1d4d;
          height: 48px;
          
          .container{
            @extend %c;
            @extend %flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            .left{
                font-size: 16px;
                color: #fff;
                font-family: ML;

                @media (max-width: 600px) {
                    font-size: 14px;
                }
            }

            .right{
                font-size: 18px;
                color: #fff;
                font-family: MM;

                @media (max-width: 600px) {
                    font-family: MR;
                    font-size: 16px;
                }
            }
          }
      }
  }

