
/*? CUSTOM OPTION */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    user-select: none;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: transparent;
    padding-right: 25px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: '';
    border-bottom: none;
    border-right: none;
    display: block;
    pointer-events: none;
    right: 0;
    top: 30%;
    background-image: url('../../../assets/img/dropdown-arrow.svg');
    background-repeat: no-repeat;
    transform-origin: 7px 4px;
    transform: rotate(0deg);
    transition: all 0.15s ease-in-out;
    width: 14px;
    height: 14px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    position: absolute;
    content: '';
    border-bottom: none;
    border-right: none;
    display: block;
    pointer-events: none;
    right: 0;
    top: 30%;
    background-image: url('../../../assets/img/dropdown-arrow.svg');
    transform-origin: 7px 4px;
    transform: rotate(180deg);
    transition: all 0.15s ease-in-out;
    width: 14px;
    height: 14px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #1946B9;
    font-size: 22px;
    font-family: ML;
    cursor: pointer;
    width: 100%;
}

.select-items div {
    padding: 0 15px;
    font-size: 14px;
    font-family: MR;
    color: rgb(32, 32, 32);
    font-weight: 700;
    line-height: 40px;
}

/* Style items (options): */
.select-items {
    opacity: 1;
    pointer-events: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    overflow: hidden;
    position: absolute;
    top: 130%;
    left: 0;
    z-index: 9;
    cursor: pointer;
}

/* Hide the items when the select box is closed: */
.select-hide {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 130%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Mobile Navbar */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgb(255, 255, 255);
    /* Black w/opacity */
    overflow-x: hidden;
    overflow-y: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    border-bottom-right-radius: 100%;
}

.navbar-hamburger {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo-hamburger > a > img {
    width: 130px;
    margin-top: -5px;
}

.lang-hamburger {  
    margin-right: 10px;
    margin-top: -10px;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    text-align: left;
    margin-left: 10px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    display: block;
}

.hamburger-item {
    padding: 8px;
    text-decoration: none;
    font-family: 'MR';
    color: #1946B9;
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    margin-top: -20px;
    margin-left: 5px;
    font-size: 60px;
    font-weight: 100;
    color: #0047BA;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}